.chess-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.chessboard {
    width: 600px;
    height: 600px;
}

.chessboard-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.fen-area {
    width: 70%;
    padding-right: 1%;
}

.start-new-game {
    width: 25%;
}

.new-game {
    display: flex;
    margin-top: 1%;
    width: 70%;
    justify-content: space-around;
    flex-direction: row;
}



.engine-move {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.chess-gama-navbar {
    min-width: 50%;
    justify-content: space-between;
    align-items: center;

}