.chess-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: calc(100vh - 140px);
}

.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.chessboard {
    width: 600px;
    height: 600px;
}

.chessboard-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.fen-area {
    width: 70%;
    padding-right: 1%;
}

.start-new-game {
    width: 25%;
}

.new-game {
    display: flex;
    margin-top: 1%;
    width: 70%;
    justify-content: space-around;
    flex-direction: row;
}

.moves-container {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    min-height: 25vh;
}

.moves {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
}

.engine-move {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-move {
    width: 90px;
}

.square.highlight {
    border: 2px solid red !important;
    background-color: rgba(255, 0, 0, 0.3); /* Optional background color */
  }