
<div class="chess-page">
    <div class="game-settings">
        <div class="fen-input">
            <input type="text" class="form-control" [formControl]="inputFEN" placeholder="Enter FEN string here" />
            <button (click)="loadGameFromFEN()">Load Game</button>
        </div>
        <button (click)="toggleBlindfold()">
            {{ blindfoldMode ? 'Switch to Visible Mode' : 'Switch to Blindfold Mode' }}
          </button>
        <button (click)="createNewGame()">New Game</button>
        <div class="bot-level">
            <label for="bot-level">Engine Level:</label>
            <select id="bot-level" class="form-control" [formControl]="botLevel">
              <option *ngFor="let level of botLevels()" [value]="level.value">
                {{ level.label }}
              </option>
            </select>
          </div>
    </div>

    <div class="engine-move">
        <h3>Engine Move: {{ engineMove }}</h3>
    </div>


    <app-chessboard *ngIf="!blindfoldMode" [fen]="fen" (newFen)="onMove($event)"></app-chessboard>
    <app-available-moves *ngIf="blindfoldMode" [fen]="fen" (newFen)="onMove($event)"></app-available-moves>
</div>
    



