
<div class="chess-page">
    <div class="game-settings">
        <div class="bot-level">
            <label for="bot-level">Engine Level:</label>
            <select id="bot-level" class="form-control" [formControl]="botLevel">
              <option *ngFor="let level of botLevels()" [value]="level.value">
                {{ level.label }}
              </option>
            </select>
        </div>
        <button (click)="toggleBlindfold()">
            {{ blindfoldMode ? 'Switch to Visible Mode' : 'Switch to Blindfold Mode' }}
        </button>
        <div class="play-as-black">
            <mat-checkbox class="form-control"  [formControl]="isBotPlaysAsWhite" (change)="updateBotColor()">Play as Black</mat-checkbox>
        </div>  
        <div class="fen-input">
            <input type="text" class="form-control" [formControl]="inputFEN" placeholder="Enter FEN string here" />
            <button (click)="loadGameFromFEN()">Load FEN</button>
        </div>

        <div class="fen-input">
          <button (click)="loadSavedGame()">Continue Game</button>
        </div>

        <button (click)="createNewGame()">New Game</button>
        
        
    </div>

    <div class="engine-move">
        <h3>Engine Move: {{ engineMove }}</h3>
    </div>

    <div class="chess-content" id="chess-content">
        <app-chessboard *ngIf="!blindfoldMode" [fen]="fen" [isBotPlaysAsWhite]="isBotPlaysAsWhite.value" (move)="onMove($event)"></app-chessboard>
        <app-available-moves *ngIf="blindfoldMode" [fen]="fen" (move)="onMove($event)"></app-available-moves>
        <app-move-history [moveHistory]="moveHistory"></app-move-history>

    </div>
    <div class="undo">
        <button (click)="undoMove()">Undo Move</button>
    </div>    
    
</div>
    



