
.chessboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
}

.chessboard {
    width: 400px;
    height: 400px;
}

.chessboard-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

.highlight {
    background-color: rgba(255, 0, 0, 0.3); /* Optional background color */
  }
