@import '../../../assets/chess.scss';

.chessboard {
    width: $chessboard-width;
    height: $chessboard-width;
}

.chessboard-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
}

